#header-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; /* Ensure navbar appears above other content */
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: auto; 
}



.navBar {
    position: absolute; /* Allows precise positioning */
    top: 0; /* Position at the top of the page */
    right: 0; /* Position at the right edge of the page */
    margin: 20px; /* Add some spacing from the edges */
}

.navBar ul {
    list-style-type: none; /* Removes bullet points from list */
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1rem;
}

.navBar li {
    cursor: pointer; /* Makes it look clickable */
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
    color: white; /* Text color */
    margin: 0px 10px; /* Spacing between items */
    border-radius: 5px; /* Rounded corners */
    transition: 0.3s; /* Smooth hover effect */
}

.navBar li:hover {
    background-color: lightgrey;
    color: black;
}



.navBar-back {
    position: absolute; /* Allows precise positioning */
    top: 0; /* Position at the top of the page */
    right: 2000; /* Position at the right edge of the page */
    margin: 20px; /* Add some spacing from the edges */
}

.navBar-back ul {
    list-style-type: none; /* Removes bullet points from list */
    padding: 0;
    margin: 0;
    display: flex;
}

.navBar-back li {
    cursor: pointer; /* Makes it look clickable */
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent background */
    color: white; /* Text color */
    margin: 0px 10px; /* Spacing between items */
    border-radius: 5px; /* Rounded corners */
    transition: 0.3s; /* Smooth hover effect */
}

.navBar-back li:hover {
    background-color: lightgrey;
    color: black;
}



.testButton {
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 100px;
    transition: 0.5s;              
}
.testButton:hover{
    background-color: darkgrey;
    cursor: pointer;
}

.backgroundImageMain {
    position: relative;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full screen height */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    text-align: center;
    padding: 25px;
    z-index: 1;
    transition: all 0.3s ease;
}



.backgroundText {
    padding-top: 50px;
    font-size: 1rem; /* Adjust text size */
    font-weight: bold; /* Makes text bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds shadow for readability */
    text-align: left; /* Aligns text content */
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: "Poppins", san-serif;
    color: lightgrey;
}

.backgroundText p {
    max-width: 90ch;
}

.backgroundText a {
    cursor: pointer;
}

.xssInput {
    width: 700px;
    height: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.labSelect ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.labSelect li {
    list-style-type: none;
    cursor: pointer; 
    width: 80%; 
    max-width: 500px; 
    padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white; 
    margin: 50px auto; 
    border-radius: 25px;
    transition: 0.3s;
    text-align: left;
    font-size: 1rem; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-align: left; 
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: "Poppins", san-serif;
    background-size: 1px;
}

.labSelect li:hover {
    background-color: lightgrey;
    color: black;
}

textarea {
    width: auto;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    overflow: auto;
    pointer-events: none
  }

